Image{
    width: 80;
    height: 80;
    margin: 5 0 0 0;
}

.tile {
    background-color: #FFFFFF;
    margin: 2;
}

.tile-title{
    background-color: #99ccff; 
}

.tile-title Label {
    font-size: 14;
    color: black;
    margin-top: 5;
}
.price {
    color: #009933;
    text-align: right;
}

.highlight .tile-title {       
    font-weight: bold;         
    background-color: #6699ff;  
}

.highlight .tile-title Label { 
    font-size: 18; 
} 

.highlight .price {             
    font-weight: bold;          
    color: red;               
}

.highlight Image{
    width: 100;
    height: 100;
}